.git
.github
.DS_Store
raw-assets

node_modules
**/node_modules

dist
**/dist
build
**/build
coverage
**/coverage
*.tsbuildinfo
**/*.tsbuildinfo
apps/*/*.js
apps/*/*.js.map
apps/*/*.d.ts
apps/*/*.d.ts.map

.env
.env.*
!.env.example

apps/player-cocos/library
apps/player-cocos/temp
apps/player-cocos/build
apps/player-cocos/local
apps/coconut-studio/src-tauri/target

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
