node_modules/
raw-assets/
dist/
build/
coverage/
*.tsbuildinfo
packages/*/src/*.js
packages/*/src/*.js.map
packages/*/src/*.d.ts
packages/*/src/*.d.ts.map
apps/*/src/*.js
apps/*/src/*.js.map
apps/*/src/*.d.ts
apps/*/src/*.d.ts.map
apps/*/*.js
apps/*/*.js.map
apps/*/*.d.ts
apps/*/*.d.ts.map
.DS_Store
.env
.env.*
!.env.example
apps/player-cocos/library/
apps/player-cocos/temp/
apps/player-cocos/build/
apps/player-cocos/local/
apps/coconut-studio/src-tauri/target/
